/* 
! AUTH
*/

#login, #register {
  .container-fluid {
    display: flex;
    position: relative;
    @include layar(tablet) {
      flex-wrap: wrap;
    }
  }
}


#login {
  .container-fluid {
    height: 110vh;
  }
  .hero-auth {
    height: 100%;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 60vw;
      height: 110vh;
      background-color: rgba(0, 0, 0, 0.459);
    }
  }
}
#register {
  .container-fluid {
    height: 120vh;
  }
  .hero-auth {
    height: 100%;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 60vw;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.459);
    }
  }
}

.hero-auth {
  @include layar(tablet) {
    display: none;
  }
  width: 60vw;
  color: $secondaryColor;
  background-image: url('/assets/img/hero-login.png');
  background-size: cover;
  background-repeat: no-repeat;


  h1 {
    position: absolute;
    margin: 88px 0 0 56px;
    font-size: $h1size;
    line-height: 83px;
    font-weight: bold;
    z-index: 1;
  }

  p {
    position: absolute;
    left: 29px;
    bottom: 18px;
    font-size: $psize;
    z-index: 1;
  }
}

#container-register, #container-login {
  position: relative;
  width: 30%;
  @include layar(tablet) {
    width: 90%;
  }
  box-sizing: border-box;
  margin: 0 auto;

  .logo {
    position: absolute;
    top: 12px;
    right: -28px;
    @include layar(tablet) {
      right: -18px;
    }
    @include layar(hp) {
      right: -8px;
    }
  }

  h1 {
    margin-top: 12vw;
    @include layar(tablet) {
      margin-top: 100px;
    }
    font-size: $h1size;
    font-weight: bold;
    color: $primaryColor;
    margin-bottom: 16px;
  }

  p {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 42px;
  }

}

#container-register {
  form {
    .grup-input {
      box-shadow: 0 0 18px 0px rgba(0, 0, 0, 0.116);
    }
  }
}

form {
  label {
    font-family: 'Airbnb Cereal App';
    font-size: $psize;
  }
  .grup-input {
    border: 2px solid #E0E0E0;
    border-radius: 5px;
    box-shadow: 0 36px 36px -40px #000;
    padding: 0;
    label {
      position: absolute;
      color: #D0CCCC;
      margin: 17px;
    }
    
    input {
      box-sizing: border-box;
      padding: 17px;
      width: 100%;
      border: none;
      font-size: 20px;
      padding-top: 40px;
      &:focus {
        outline: none;
      }
    }

  }

  .baris {
    margin-top: 32px;
    margin-bottom: 42px;
    justify-content: space-between;
    flex-wrap: wrap;
    .grup-checkbox {
      display: flex;
      align-content: center;
      label {
        margin-top: 3px;
        margin-left: 3px;
      }
      input {
        width: 18px;
        height: 18px;
      }      
    }

    a {
      color: $primaryColor;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .grup-btn {
    margin-top: 24px;
    button, a {
      margin-right: 12px;
      @include layar(tablet) {
        margin-right: 0;
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 48px;
  left: 60vw;
  width: 302px;
  margin-left: 4.5vw;
  @include layar(tablet) {
    position: static;
    margin-top: 24px;
    margin-bottom: 18px;
  }
  // margin-top: 4vw;
  p {
    color: #D0CCCC;
    max-width: 302px;
    line-height: 22px;
    a {
      color: $primaryColor;
    }
  }
}






/* 
! END OF AUTH
*/