/* 
! DASHBOARD
*/

.nav {
  position: relative;
  width: 100%;
  background-color: white;
  z-index: 5;
  display: flex;
  box-shadow: 0 4px 7px #0000003a;
  padding: 12px 3%;
  justify-content: space-between;
  box-sizing: border-box;
  transition: all ease .4s;
  form.search {
    .grup-search {
      width: 406px;
    }
  }
  .logo {
    flex-wrap: nowrap;
    margin-left: 36px;
    color: black;
    &:hover {
      opacity: .7;
    }
    img {
      width: 50px;
      margin-right: 12px;
    }
    h1 {
      font-size: 30px;
      font-weight: bold;
    }
  }
}
#menu-profil .nav {
  position: relative;
  width: 100%;
  display: flex;
  box-shadow: none;
  padding: 24px 0 0 3%;
  justify-content: flex-end;
}
.burger a {
  cursor: pointer;
  margin: 0 16px 0 0;
  padding: 8px;
}

.navbar ul, .navbar, .search, .logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navbar ul {
  @include layar(laptop) {
    display: none;
  }
  li {
    overflow: hidden;
    padding: 4px;
    div {
      position: relative;
      padding: 8px 24px 8px 8px;
      color: black;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        opacity: .7;
      }
      &::after {
        margin: 5px 0 0 8px;
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background-image: url('./assets/img/polygon-arrow.png');
        background-repeat: no-repeat;
      }
    }
  }
  .dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 25px;
    width: 130px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.13);
    overflow-y: scroll;
    max-height: 0;
    transition: all .4s;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #dbdbdb;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 10px;
    }
    li {
      box-sizing: border-box;
      font-weight: 500;
      padding: 17px 17px 32px;
      width: 100%;
      cursor: pointer;
      font-size: .8em;
      &:hover {
        background-color: rgb(245, 245, 245);
      }
    }
  }
  .dropdown.muncul {
    max-height: 140px;
  }
}

form.search {
  @include layar(tablet) {
    display: none;
  }
  .grup-search{
    display: flex;
    justify-content: center;
    // width: 406px;
    border-radius: 20px;
    border: 1.2px solid #CACACA;
    overflow: hidden;
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      &:active {
        outline: none;
      }
      &:focus {
        outline: none;
      }
    }
    img {
      padding: 6px;
    }
    input {
      width: 75%;
      border: none;
      outline: none;
      padding:9px 6px;
      color: black;
      font-size: 17px;
      &::placeholder {
        color: #CACACA;
      }
    }
  }
}
.carousel.nav-fixed {
  margin-top: 75px;
}
.carousel {
  position: relative;
  display: flex;
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  transition: height ease .4s;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
  .carousel-wrap {
    display: flex;
    width: 480px;
    transition: transform .3s ease;
    position: relative;
    left: -60px;
  }

  button {
    position: absolute;
    border: none;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.13);
    cursor: pointer;
    z-index: 1;
    transition: ease .2s;
    &:focus {
      border: none;
      outline: none;
    }
    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 8px 6px rgba(0, 0, 0, 0.13);
    }
    &:active {
      transform: translateY(2px);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.13);
    }
    img {
      margin-top: 3px;
      margin-right: 2px;
    }
  }
}

.carousel-item {
  box-sizing: content-box !important;
  padding: 0 40px 0;
  // &:first-child {padding-left: 0;}
  // &:last-child {padding-right: 0;}
  transition: transform .3s ease;
  .carousel-card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
    width: 480px;
    height: 250px;
    @include layar(hp) {
      transform: scale(.75);
      height: 100%;
    }
    &:hover img {
      transform: scale(1.07);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: transform ease .5s;
    }
    .description {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50%;
      background-color: rgba(0, 0, 0, 0.281);
      color: white;
      padding: 26px 36px 36px;
      box-sizing: border-box;
      // z-index: 1;
      h3 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 37px;
        font-weight: 500;
      }
      p {
        font-family: 'Airbnb Cereal App';
        margin-top: 16px;
      }

      h3, p {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
button.next-btn {
  right: 4%;
  img {
    transform: rotate(180deg)
  }
}
button.prev-btn {
  left: 4%;
}
.current__slide {
  transform: scale(1.2);
  margin: 0 20px;
}

#menu-profil {
  position: fixed;
  top: 0;
  width: 25vw;
  @include layar(laptop) {
    width: 50vw;
  }
  @include layar(tablet) {
    width: 90vw;
  }
  height: 100%;
  background-color: white;
  box-shadow: 4px 0 7px #0000003a;
  @include layar(tablet) {
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #dbdbdb;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 10px;
    }
  }
  z-index: 6;
  .container.center {
    display: flex;
    justify-content: center;
    .foto-profil {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 12px;
      img {
        width: 170px;
        height: 170px;
        border-radius: 85px;
        object-fit: cover;
      }
      h2 {
        text-align: center;
        line-height: 1.2;
        font-size: 30px;
        font-weight: bold;
        margin-top: 24px;
        color: black;
      }
    }

  }

  .container {
    form.search {
      @include layar(tablet) {
        display: flex;
        margin-top: 48px;
      }
      display: none;
      .grup-search {
        @include layar(tablet) {
          width: 100%;
          margin: 0;
        }
      }
    }

  }
}

.nav-aside {
  margin-top: 72px;
  margin-bottom: 72px;
  li {
    margin-top: 42px;
    a, div {
      position: relative;
      width: 100%;
      font-weight: 500;
      font-size: 22px;
      color: black;
      cursor: pointer;
      &:hover {
        opacity: .7;
      }
      &::after {
        margin: 11px 0 0 10px;
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background-image: url('./assets/img/polygon-arrow.png');
        background-repeat: no-repeat;
      }
    }
    &:first-child {
      display: none;
      @include layar(laptop) {
        display: flex;
        flex-direction: column;
      }
      margin-top: 0;
    }
    &:nth-child(2) {
      display: none;
      @include layar(laptop) {
        display: flex;
        flex-direction: column;
      }
    }
    .dropdown {
      margin-top: 0;
      position: relative;
      left: 0;
      box-shadow: none;
      width: 100%;
      overflow-y: scroll;
      max-height: 0;
      transition: all .4s;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #dbdbdb;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 10px;
      }
      li {
        padding: 20px;
        font-weight: 500;
        margin-top: 0;
        cursor: pointer;
        &:hover {
          background-color: rgb(245, 245, 245);
        }
      }
    }
    .dropdown.muncul {
      max-height: 160px;
      margin-top: 20px;
    }
  }
}
.container-fluid, #menu-profil, .nav, .burger a {
  transition: width ease .7s, margin ease .7s, left ease .7s, opacity ease-out .7s;
}
.menu-aktif {
  margin-left: 25%;
  width: 75%;
  @include layar(laptop) {
    width: 80%;
    margin-left: 20%;
  }
  @include layar(tablet) {
    width: 100%;
    margin-left: 0;
  }
}
.to-fixed {
  position: fixed;
  margin-top: -75px;
}

.to-fixed.nav-aktif {
  width: 75%;
  @include layar(laptop) {
    width: 80%;
    margin-left: 20%;
  }
  @include layar(tablet) {
    width: 100%;
    margin-left: 0;
  }
}

.geser-kiri {
  position: absolute;
  top: 0;
  left: -26%;
  @include layar(laptop) {
    left: -56%;
  }
  @include layar(tablet) {
    left: -95%;
  }
}
.geser-kanan {
  position: absolute;
  top: 0;
  left: 0;
}
.hidden-to-left {
  top: 24px;
  opacity: 0;
  margin-left: -100px !important;
  // position: absolute;
  // left: -20px;
}

/* 
! END OF DASHBOARD
*/